<div class="sections-wrap active tips">
	<div class="row">
		<div class="left-section col-md-4 col-sm-4 col-xs-12">
			<div class="lists box-shadow pd20">
				<ul>
					<li class="single-list active">医院概况</li>
					<li class="single-list">医院院训</li>
				</ul>
			</div>
		</div>
		<div class="right-section box-shadow pd20 col-md-8 col-sm-8 col-xs-12">
			<div class="single-content active">
				<h3 class="t-center">旌德县人民医院简介</h3>
				
				<p>旌德县人民医院是集医教研、急救和预防保健等于一体的二级甲等综合医院,是旌德县最大的公立医院，位于旌德县城东北路117号，曾连续二次获“安徽省文明医院”称号，先后荣获 “爱婴医院”、“诚信医院”、“优质护理先进单位”等称号。 </p>
　
				<p>医院占地面积50亩，建筑面积21000平方米，床位300张，设有临床科室26个和11个医技科室，120急救中心，体检中心，医院现有西门子全进口16排螺旋CT、DR、数字胃肠机、全自动生化分析仪、彩色超声诊断仪、电子胃镜、肠镜、腹腔镜、鼻内窥镜、膀胱镜、动态心电图等先进的诊疗仪器，全面集成数字化信息系统，为医疗、教学、科研提供了良好的条件。 </p>

				<p>医院已开展的诊疗技术项目包括全胃切除术、食道癌、肺癌、胃癌根治术、经尿道前列腺电切术、腹腔镜子宫肌瘤切除术、腹腔镜卵巢切除术、腹腔镜胆囊切除术、腹腔镜阑尾切除术、输尿管镜下钬激光碎石术、阴式子宫切除术、子宫肌瘤剐出术、卵巢癌盆腔清除术、人工髋关节置换术、支撑喉镜下声带息肉切除术、开颅血肿清除术、慢性硬膜下血肿钻孔引流术、白内障超声乳化人工晶体植入术、腰椎间盘突出症经皮椎间孔镜髓核摘除术、腰椎骨折后路经多裂肌间隙椎弓根螺钉内固定术、微创颅内血肿清除术、心包穿刺及置管引流术、无痛胃肠镜检查技术等。</p>

　　				<p>医院病房内全部设有空调、卫生间、中心供氧、中心吸引、WIFI网络全覆盖、数字电视，实现了病房"宾馆化"，院内道旁植树、园内养花、地上种草，共同构筑了一座花园式、人性化的现代医院。</p>

　　				<p>2016年6月2日与宣城市人民医院建立紧密型医联体，在此基础上，与安徽省立医院、安徽省儿童医院、安徽省胸科医院、弋矶山医院、芜湖二院、芜湖四院等省市级医院建立医联体。2017年7月1日与我县十家乡镇卫生院成立医共体，建立疑难病人转诊的绿色通道，接受医疗技术的对口支援。开通远程会诊，让患者得到实惠，真正将分级诊疗、健康扶贫落到实处。</p>

				<p>医院将以“一切为了病人、为了病人一切、为了一切病人”的办院宗旨，发挥人才、设备、技术优势，为广大患者提供优质的服务。</p>
			</div>

			<div class="single-content"> 
				<h3>医院院训</h3>
				
				<h5>医院宗旨</h5>
				<p>一切为了病人、为了病人一切、为了一切病人</p>

				<h5>医院精神(院训)</h5>
				<p>精医、创新、诚信、为民</p>


				<h5>医院目标及功能任务</h5>
				<p>建设全县医疗、教学、科研、预防保健于一体的综合性二级甲等医院。</p> 


				<h5>医院核心价值观</h5>
				<p>诚信、关爱、务实、奉献</p>


				<h5>医院愿景</h5>
				<p>让全县人民享受到同级领先医院医疗服务。</p>

			</div>
		</div>
	</div>
</div>