<div class="sections-wrap inside">
	<div class="row">
		<div class="left-section col-md-4 col-sm-4 col-xs-12">
			<div class="lists pd20">
				<ul>
					<li class="single-list active">门诊楼</li>
					<li class="single-list">医技楼</li>
					<li class="single-list">住院部</li>
					<li class="single-list">行政楼</li>
					<li class="single-list">其他</li>
				</ul>
			</div>
		</div>
		<div class="right-section pd20 col-md-8 col-sm-8 col-xs-12">
			<div class="single-content active">
				<h3>一楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">挂号收费处</a></li>
					<li><a href="javascript:;">儿科门诊</a></li>
					<li><a href="javascript:;">门诊药房</a></li>
					<li><a href="javascript:;">急诊科</a></li>
					<li><a href="javascript:;">儿科输液室</a></li>
					<li><a href="javascript:;">输液大厅</a></li>
					<li><a href="javascript:;">方便门诊</a></li>
				</ul>
				<h3>一楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">国医堂</a></li>
					<li><a href="javascript:;">中药房</a></li>
					<li><a href="javascript:;">儿科病区</a></li>
					<li><a href="javascript:;">骨科</a></li>
					<li><a href="javascript:;">内科</a></li>
					<li><a href="javascript:;">外科</a></li>
					<li><a href="javascript:;">肛肠科</a></li>
				</ul>
				<h3>三楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">五官科</a></li>
					<li><a href="javascript:;">妇产科</a></li>
					<li><a href="javascript:;">针灸推拿科</a></li>
					<li><a href="javascript:;">口腔科</a></li>
					<li><a href="javascript:;">皮肤科</a></li>
					<li><a href="javascript:;">对外联络科</a></li>
				</ul>
			</div>

			<div class="single-content">
				<h3>一楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">挂号收费处</a></li>
					<li><a href="javascript:;">儿科门诊</a></li>
					<li><a href="javascript:;">门诊药房</a></li>
					<li><a href="javascript:;">急诊科</a></li>
					<li><a href="javascript:;">儿科输液室</a></li>
					<li><a href="javascript:;">输液大厅</a></li>
					<li><a href="javascript:;">方便门诊</a></li>
				</ul>
				<h3>一楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">国医堂</a></li>
					<li><a href="javascript:;">中药房</a></li>
					<li><a href="javascript:;">儿科病区</a></li>
					<li><a href="javascript:;">骨科</a></li>
					<li><a href="javascript:;">内科</a></li>
					<li><a href="javascript:;">外科</a></li>
					<li><a href="javascript:;">肛肠科</a></li>
				</ul>
				<h3>三楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">五官科</a></li>
					<li><a href="javascript:;">妇产科</a></li>
					<li><a href="javascript:;">针灸推拿科</a></li>
					<li><a href="javascript:;">口腔科</a></li>
					<li><a href="javascript:;">皮肤科</a></li>
					<li><a href="javascript:;">对外联络科</a></li>
				</ul>
			</div>
			<div class="single-content">
				<h3>一楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">挂号收费处</a></li>
					<li><a href="javascript:;">儿科门诊</a></li>
					<li><a href="javascript:;">门诊药房</a></li>
					<li><a href="javascript:;">急诊科</a></li>
					<li><a href="javascript:;">儿科输液室</a></li>
					<li><a href="javascript:;">输液大厅</a></li>
					<li><a href="javascript:;">方便门诊</a></li>
				</ul>
				<h3>一楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">国医堂</a></li>
					<li><a href="javascript:;">中药房</a></li>
					<li><a href="javascript:;">儿科病区</a></li>
					<li><a href="javascript:;">骨科</a></li>
					<li><a href="javascript:;">内科</a></li>
					<li><a href="javascript:;">外科</a></li>
					<li><a href="javascript:;">肛肠科</a></li>
				</ul>
				<h3>三楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">五官科</a></li>
					<li><a href="javascript:;">妇产科</a></li>
					<li><a href="javascript:;">针灸推拿科</a></li>
					<li><a href="javascript:;">口腔科</a></li>
					<li><a href="javascript:;">皮肤科</a></li>
					<li><a href="javascript:;">对外联络科</a></li>
				</ul>
			</div>
			<div data-build="行政" class="single-content">
				<h3>二楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">院长室</a></li>
					<li><a href="javascript:;">副院长室</a></li>
					<li><a href="javascript:;">院长助理室</a></li>
					<li><a href="javascript:;">院办室</a></li>
					<li><a href="javascript:;">医务科</a></li>
					<li><a href="javascript:;">信息科</a></li>
					<li><a href="javascript:;">护理部</a></li>
					<li><a href="javascript:;">院感办</a></li>
					<li><a href="javascript:;">保卫科</a></li>
					<li><a href="javascript:;">文印室</a></li>
					<li><a href="javascript:;">小型会议室</a></li>
				</ul>
				<h3>三楼</h3>
				<ul class="floors">
					<li><a href="javascript:;">药剂科</a></li>
					<li><a href="javascript:;">财务科</a></li>
					<li><a href="javascript:;">病案室</a></li>
					<li><a href="javascript:;">总务科</a></li>
					<li><a href="javascript:;">总值班室</a></li>
					<li><a href="javascript:;">大型会议室</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
