<div class="sections-wrap position">
	<div class="map-wrap pd20">
		<h3>医院周边地图和交通</h3>
		<div class="map" id="mapGuide2" style="height:450px;">
		    
		</div>
		<div class="position">
			<p>地址：旌德县旌阳镇后妃岭</p>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>
