<div class="sections-wrap price">
	<div class="row">
		<div class="left-section col-md-4 col-sm-4 col-xs-12">
			<div class="lists pd20">
				<ul>
					<li class="single-list active">医疗服务价格</li>
				</ul>
			</div>
		</div>
		<div class="right-section pd20 col-md-8 col-sm-8 col-xs-12">
			<div class="single-content active">
				<h3>医疗服务价格</h3>
				<a target="_blank" href="http://www.ahpi.gov.cn/DocHtml/1/16/05/xxgk_201607215341764.html">省物价平台基于医疗服务价格的公示链接 >></a>
			</div>
		</div>
	</div>
</div>
