<div class="sections-wrap thanks">
	<div class="row">
		<div class="left-section col-md-4 col-sm-4 col-xs-12">
			<div class="lists pd20">
				<ul>
					<li class="single-list active">感谢信</li>
				</ul>
			</div>
		</div>
		<div class="right-section pd20 col-md-8 col-sm-8 col-xs-12">
			<div class="single-content active">
				<h3>感谢信</h3>
				<p>即将开放，敬请期待</p>
			</div>
		</div>
	</div>
</div>
