<div class="sections-wrap active tips">
	<div class="row">
		<div class="left-section col-md-4 col-sm-4 col-xs-12">
			<div class="lists pd20">
				<ul>
					<li class="single-list active">门诊就医流程</li>
					<li class="single-list">注意事项</li>
				</ul>
			</div>
		</div>
		<div class="right-section pd20 col-md-8 col-sm-8 col-xs-12">
			<div class="single-content active">
				<h3>门诊就医流程</h3>
				
				<p>1、凭挂号条及病历本排队就诊，过号推后5个；</p>
				<p>2、挂号当日有效，隔日作废；（挂号时间：上午8：00-11：30；下午（冬季）2：00-5：30；（夏季）2：30-5：30）。</p>

				<p>3、如您遇到困难，请找咨询台或导医人员解决。</p>
				<p>4、投诉电话：0563-8601059。</p>
				<p>5、根据卫生部、国家中医药管理局文件，为保证患者用药安全，药品一经发出，不得退换。</p>
				<p>6、为保证患者用药安全，医院规定，凡外购注射药品，本院不予使用。</p>
　

				<h4>医保政策</h4>

				<h5>一、 参保人员就医应该注意哪些问题</h5>
				<p>参保人员可根据就近就医的原则，结合医疗机构的技术水平和服务质量，自主选择医保定点医院就诊。</p>
				<p>1、 参保人员就诊时，需要带上《医疗保险证》、IC卡，挂号看病。医务人员应核对《医疗保险证》和IC卡，做到人、证、卡相符，杜绝冒名顶替。</p>
				<p>2、 参保人员在门诊检查治疗时，要按照合理检查，合理诊治、合理用药的原则，规定处方量为急性疾病3天量、慢性疾病7天量，慢性病门诊处方一般不超过15天量。特殊情况不能超过一个月量。患者不得要求超范围超量开药。</p>


				<h5>二、 参保人员如何办理住、出院手续</h5>
				<p>1、 参保人员需要住院治疗的，先由定点医院的相关科室开具住院通知单，在住院收费处全额交费办理住院手续，必须24小时内持参保人员住院通知书、医保证、IC卡再到医保科办理住院登记后，方可住院治疗，否则费用不予报销。</p>
				<p>2、 参保患者住院后需在《医保协议书》上签字，主管医师应按医保规定给予合理检查，合理治疗，对治疗坚持用药有异议及时提出，出院时先通知医保科，持“医保结标单”到住院处结账。</p>
				<p>3、 住院需做特殊检查，特殊治疗的参保患者，必须在《基本医疗保险特检、特治项目申请表》上签字，经医保科批准后方可有效，否则费用不予报销。</p>
				<p>4、 医保人员住院期间，要24小时在院。严禁回家或外出，如违犯此规定按挂床处理，一切费用不予报销。</p>
				<p>5、 参保人员出院带药不得超过7天量，只能为口服药物。不得要求超量、超范围带药，否则费用自理。</p>

				<h5>三、 转院的原则及条件</h5>
　　			<p>参保人员确因病情需要转诊转院检查治疗的，必须符合以下四种情况方可转院。</p>

				<p>1、 经多方会诊检查而不能确诊治疗的疑难病。</p>
				<p>2、 本市无条件开展治疗的疾病。</p>
				<p>3、 危重、急救病人有必要转院抢救者。</p>
				<p>4、 原在外地治疗、需定期复查治疗者。</p>

　　			<p>除上述原因外参保者提出转诊转院要求费用自理。</p>

				<h5>四、 基本医疗保险基金不予支付费用的诊疗项目</h5>

				<p>（一） 生活服务项目类</p>

				<p>1、 挂号费、病历工本费，就（转）诊治交通费、急救车费。</p>
				<p>2、 出诊费、点名手术附加费、住院陪护费、护士费、洗理费、门诊前煎药费。</p>
				<p>3、 空调费、电视电话费、食品保温费、电炉、电冰箱及损坏公物赔偿费。</p>
				<p>4、 生活用品费，如脸盆、痰盂、口杯等。</p>
				<p>5、 文娱活动费以及其他特需生活服务费用。</p>

				<h5>（二） 哪些病不予报销费用</h5>

				<p>1、 各类整容、美容、健美项目。</p>
				<p>2、 矫形及生理缺陷的手术。</p>
				<p>3、 检查治疗费和器具，如治疗色素斑、口吃、鼻鼾、兔唇、腋臭、多毛症、单眼致双眼皮、脱痣、除皱、洁牙、牙列不整矫形等。</p>
				<p>4、 各种减肥、增肥、增高项目、戒毒费用。</p>
				<p>5、 各种健康体检、医疗咨询（心理咨询、保健咨询、婚育性咨询）医疗签定、精神病人司法签定的费用。</p>
				<p>6、 因打架斗殴、酗酒、违法犯罪、交通、工伤、医疗事故、故意自伤、自残发生的医疗费用。</p>

				<h5>（三） 诊疗设备及医用材料类哪些费用不予以报销</h5>

				<p>1、 各种自用的保健、按摩、检查和治疗器具。</p>
				<p>2、 配眼镜、义齿、义眼、义肢、助听器等康复器具。</p>
				<p>3、 省物价部门规定不可单独收费的一次性医用材料。</p>
				<p>4、 未经物价、卫生和劳动保障行政部门批准，新开展的检查诊疗项目和收费。</p>
				<p>5、 超过标准规定的住院床位费，自行转诊费、外购药药费。</p>
			</div>

			<div class="single-content">
				<h3>注意事项</h3>
				<h5>B超、彩超检查注意事项：</h5>
				<p>⊙肝胆脾胰检查前需空腹10个小时以上，前一日晚餐清淡、少渣饮食，双肾、胸腹水检查前不需做特别的准备工作。</p>
				<p>⊙做泌尿系、前列腺、妇科检查者，检查当天晨起后勿排尿，或待空腹检查项目结束后进食饮水膀胱充盈再行检查。</p>

				<h5>心电图检查：</h5>
				<p>检查前应安静休息5分钟左右，不能在跑步、饱餐、冷饮或吸烟后进行检查，这些因素都可以导致心电图异常，从而影响对疾病的判断。作饱餐试验及双倍二级梯运动试验检查前，还应于检查当日禁食。</p>


				<h5>脑电图检查：</h5>
				<p>在检查前1天要洗头，且不能使用发油。检查前24小时要停止服用镇静剂、兴奋剂及其他作用于神经系统的药物，以避免检查时形成假象，影响检查结果的判断。脑电图检查必须在饭后3小时内进行，如检查前不能进食者，则要听从医生的安排，口服50克糖粉液或静脉注射50％葡萄糖40毫升，以防因低血糖而影响检查的结果。 </p> 


				<h5>甲状腺碘试验：</h5>
				<p>检查时必须是空腹，检查前不能服用含碘制剂或吃含碘量丰富的食物，如海带、海蜇、紫菜等。</p>


				<h5>肾图检查：</h5>
				<p>检查前一定要排空小便，不得饮茶和咖啡，不能服用利尿剂。</p>


				<h5>纤维内窥镜检查：</h5>
				<p>支气管纤维镜检查4小时前要禁食、禁水，以免因检查刺激引起呕吐。戴有活动假牙者，检查前一定要取下，防止检查过程中假牙脱落而误入气管或食管内。胃镜检查前的6～8小时要禁食，防止插管时呕吐和影响检查所见，检查前还要排空大小便。肠镜检查前3天应吃少渣饮食，检查前1天服泻药，检查前3小时要灌肠，以排空肠腔内的粪便。</p>


				<h5>CT检查：</h5>
				<p>做腹部CT检查前必须禁食、禁水，以免形成伪影，影响CT图像质量。其他部位的CT检查则不必禁食禁水。</p>


				<h5>选择性心血管造影：</h5>
				<p>检查前3～4小时禁食。医学教|育网搜集整理认真练习医生教给的检查中所需要做的动作，如吸气、闭气，以配合检查。 </p>


				<h5>胆道造影：</h5>
				<p>做口服造影剂检查时，检查前1天中午要吃脂肪餐，使胆囊内的胆汁排空，晚餐以无油高糖食物为好。晚餐后7时左右要按医生交待服用造影剂，然后禁食。做静脉造影检查时，同样于检查前1天的中午吃脂肪餐，检查当日早晨禁食。如果有急性炎症、发热、腹痛、急性黄疸等，待好转后再做此项检查。</p>


				<h5>泌尿系及男性生殖系造影：</h5>
				<p>检查前1天的晚餐应吃软食，此后就要禁食。检查前1天的晚上还要服泻药以清除肠腔内的积气、积粪。检查之前要排空小便。</p>


				<h5>女性生殖系统造影：</h5>
				<p>在检查之前，要排空大小便，未解大便者要灌肠，还要剃除阴毛，清洗阴道。</p>


				<h5>化验室检查：</h5>
				<p>抽血作生化指标检查时，应在早餐前抽空腹血，这样查出的结果较为准确。尤其是检查肝功、血糖、血脂等项目，对于空腹的要求更为严格。 </p>
			</div>
		</div>
	</div>
</div>