<div class="row" ng-controller="addDoctor">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="alert alert-success alert-dismissable fade in hide" role="alert" id="addSuccess">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <p><i class="icon fa fa-check"></i> <strong>恭喜！</strong>添加医生成功</p>
                </div>
                <p class="myInfoBox bg-warning text-warning"><i class="icon fa fa-warning"></i> 信息填写完整无误才可提交</p>
            </div>
            <div class="box-body">
                <form role="form" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-3">医生姓名</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" name="doctor" ng-minlength="2" ng-maxlength="10" ng-model="formData.doctor" required/>
                            <label for="inputError" class="control-label text-danger" ng-show="myForm.doctor.$invalid && !myForm.doctor.$pristine"><i class="fa fa-times-circle-o"></i> 2-10个非特殊字符</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">所属科室</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" name="department" ng-minlength="2" ng-maxlength="10" ng-model="formData.department" required/>
                            <label for="inputError" class="control-label text-danger" ng-show="myForm.department.$invalid && !myForm.department.$pristine"><i class="fa fa-times-circle-o"></i> 2-10个非特殊字符</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">科室类型</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" name="departmentType" ng-minlength="1" ng-maxlength="5" ng-model="formData.departmentType" required/>
                            <label for="inputError" class="control-label text-danger" ng-show="myForm.departmentType.$invalid && !myForm.departmentType.$pristine"><i class="fa fa-times-circle-o"></i>科室类型编号：0-临床科室，1-医技科室，2-其他</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">专业项目</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" name="professional" ng-minlength="2" ng-maxlength="20" ng-model="formData.professional" required/>
                            <label for="inputError" class="control-label text-danger" ng-show="myForm.professional.$invalid && !myForm.professional.$pristine"><i class="fa fa-times-circle-o"></i> 2-20个非特殊字符</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">医生照片</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="uploadDoctorImg" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">关键字</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" name="keywords" ng-minlength="2" ng-maxlength="60" ng-model="formData.keywords" required/>
                            <label for="inputError" class="control-label text-danger" ng-show="myForm.keywords.$invalid && !myForm.keywords.$pristine"><i class="fa fa-times-circle-o"></i>60个字以内，多个关键字之间用逗号隔开</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">医生职称</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" name="skillLevel" ng-minlength="2" ng-maxlength="60" ng-model="formData.skillLevel" required/>
                            <label for="inputError" class="control-label text-danger" ng-show="myForm.skillLevel.$invalid && !myForm.skillLevel.$pristine"><i class="fa fa-times-circle-o"></i>60个字以内，多个关键字之间用逗号隔开</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">医生简介</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="description" ng-model="formData.description" id="container" ng-minlength="2" placeholder="请输入医生简介" rows="8" cols="50">{{formData.description}}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">发布</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

