<div class="content-list-wrap">
    <div class="hospital-news container">
        <h5 class="position">您现在的位置：<a href>首页</a> > <a href="">文章中心</a> > <a href="">医院动态</a></h5>
        <div class="innerBanner" style="display:none;">
            <img src="/themes/<%=staticforder%>/images/newsCenter.jpg" style="width:100%; margin:20px 0 0 0 ;">
        </div>

        <h2 class="page-intro">
            医院动态
        </h2>
        <h4>
            介绍本院的最新动态
        </h4>

        <div class="row areaPicNews">
            <% if(contentLists.length>0){ %>
            <% contentLists.forEach(function(item){ %>
                    <% include contentPost %>
                <% }) %>
            <% }else{ %>
                <li class="text-center">暂无推荐内容...</li>
            <% } %>

        </div>
    </div>
    <% include ../pagination %>
</div>
