.department-nav {

	@media (max-width: 1199px) {
		margin-bottom: 30px;
		padding: 0;
	}

	h3 {
		font-weight: normal;

		@media (max-width: 1199px) {
			text-align: center;
		}
	}

	>.container {
		padding: 0 15px;

		@media (max-width: 1199px) {
			padding: 0;
		}
	}
	
	.whole-departments {

		div.left {
			background: red;
			padding: 0;
			margin-bottom: 10px;

			.img-wrap {
				max-height: 295px;
				overflow: hidden; 

				img {
					width: 100%;
					max-height: 295px;
				}
			}
		}

		div.right {

			.nav-line {
				position: relative;
				margin-bottom: 30px;

				li {
					padding: 0;
				}
				.nav-btn {
					display: block;
				    width: 90%;
				    height: 36px;
				    position: relative;
				    text-align: center;
				    line-height: 36px;
				    font-size: 18px;
				    background: #528eb5;
				    border-radius: 5px;
				    color: #fff;
				    margin: 0 auto;

					i {
					    position: absolute;
					    width: 0;
					    height: 0;
					    border-left: 13px solid transparent;
					    border-right: 13px solid transparent;
					    bottom: 0;
					    opacity: 0;
					    left: 50%;
					    margin-left: -13px;
					    border-top: 0 solid #528eb5;
					    transition: all 0.3s;
					}
				}

				.nav-btn:hover {
					i {
						opacity: 1;
						display: block;
					    bottom: -10px;
					    border-top: 13px solid #528eb5;
					    transition: all 0.3s;
					}
				}

				.nav-btn.active {
					i {
						opacity: 1;
						display: block;
					    bottom: -10px;
					    border-top: 13px solid #528eb5;
					    transition: all 0.3s;
					}
				}
			}

			.department-line {
				.department-group {
					display: none;

					li.department {
						padding: 0;
						margin-bottom: 16px;

						a {
							display: block;
							margin: 0 auto;
							width: 90%;
							border: 1px solid #a9a9a9;
							color: #a9a9a9;
							text-align: center;
							line-height: 45px;
							height: 45px;
							border-radius: 5px;
							font-size: 16px;
						}

						a:hover {
							border-color: rgba(27, 152, 224, 1);
							color: rgba(27, 152, 224, 1);
						}
					}
				}

				.department-group.active {
					display: block;
				}
			}
		}
	}
}

.about-departments-wrap {
	padding-top: 20px;

	.department-group {
		display: block !important;

		.department-title {
			display: block;
		    width: 25%;
		    height: 36px;
		    position: relative;
		    text-align: center;
		    line-height: 36px;
		    font-size: 18px;
		    background: #528eb5;
		    border-radius: 5px;
		    color: #fff;
		    margin: 0 auto;
		    margin-bottom: 20px;

		    // @media screen and ( min-width: 770px ) {
		    // 	margin-left: 10px;
		    // }
		}

		li.department {
			padding: 0;
			margin-bottom: 16px;

			a {
				display: block;
				margin: 0 auto;
				width: 90%;
				border: 2px solid #909090 !important;
				color: #909090 !important;
				text-align: center;
				line-height: 42px !important;
				height: 45px;
				border-radius: 5px;
				font-size: 16px;
				font-weight: 500;
			}

			a:hover {
				border-color: #0371b1 !important;;
				color: #0371b1 !important;;
			}
		}
	}
}

.special-departments {
	margin-bottom: 10px;
	
	>div {
		@media (max-width: 1199px) {
			padding: 0;
		}
	}

	.special {
		width: 100%;
		background: black;
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}
}

