.w1200 { width: 1200px; margin: 0 auto; height: 100%; }
.fl { float: left; }
.fr { float: right; }
.text-l { text-align: left; }
.text-r { text-align: right; }
/* Coolors Exported Palette - coolors.co/13293d-006494-247ba0-1b98e0-e8f1f2 */

/* HSL */
@color1: hsla(209%, 53%, 16%, 1);
@color2: hsla(199%, 100%, 29%, 1);
@color3: hsla(198%, 63%, 38%, 1);
@color4: hsla(202%, 78%, 49%, 1);
@color5: hsla(186%, 28%, 93%, 1);

/* RGB */
@color1: rgba(19, 41, 61, 1);
@color2: rgba(0, 100, 148, 1);
@color3: rgba(36, 123, 160, 1);
@color4: rgba(27, 152, 224, 1);
@color5: rgba(232, 241, 242, 1);

@media screen and (min-width: 768px) {
.navbar-collapse .dropdown:hover .dropdown-menu {
    //display: block;
    margin-top: 0; // remove the gap so it doesn't close
    opacity: 1;
    visibility: visible;
 }
}

.navbar-collapse.in .dropdown .dropdown-menu {
	display: none;
	visibility: visible;
	opacity: 1;
}
@media screen and (max-width: 767px) {
	.navbar-collapse.in .dropdown.open .dropdown-menu {
		display: block;
	}
}

@media screen and (max-width: 750px) {
    html {min-width: 320px;}
}

.dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;

    a {
    	font-size: 14px;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.header-wrap {
	.top-nav {
		height: 40px;
		background: @color4;

		.top-nav-a {
			line-height: 40px;
			padding: 0 14px;
		    color: #fff;
		    font-size: 12px;
		    display: inline-block;
		    *display: inline;
		    *zoom: 1;
		    height: 40px;
		}
		.top-nav-a.active {
			background: @color2;
		}
	}

	.main-nav {
		height: 112px;

		.navbar-header {
			height: 112px;

			.hospital-logo {
				width: 86px;
			}

			.navbar-toggle {
				margin-top: 40px;
				transform: scale(1.5);

				.icon-bar {
					background: @color2;
				}
			}
		}

		.navbar-collapse {
			padding: 0;

			.navbar-nav {
				margin-top: 0;

				@media screen and (min-width: 768px) {
					li.first-nav {
						height: 112px;

						>a {
							box-sizing: border-box;
							height: 112px;
							padding: 0 13px;
							line-height: 112px;
							font-size: 16px;
						}
						>a:hover {
							background: white;
							color: @color4;
						}
					}
				}

				li.first-nav {
					background: white;
				}
			}
		}
	}
}

div.carousel-inner {
	@media only screen and (min-width: 1280px) {
		.item { 
			height: 720px;
		}
	}

	@media only screen and (max-width: 1279px) {
		.item {
			height: 500px;
		}
	}

	@media only screen and (max-width: 1023px) {
		.item {
			height: 400px;
		}
	}

	@media screen and (max-width: 750px) {
	    min-height: 4rem;
	    height: 4rem;
	}
	
}
