@blue: #1b98e0;

.guides-wrap {
	padding: 20px 0;

	h2 {
		margin-bottom: 20px;
	}

	.guide-nav-wrap {
		.single-guide {
			display: block;
			width: 90%;
			margin: 0 auto;
		    border: 1px solid #dddddd;
		    font-size: 16px;
		    color: #333333;
		    border-radius: 5px;
		    text-align: center;
		    line-height: 38px;
		    position: relative;
		}
		.single-guide:hover,.single-guide.active {
			background: @blue;
			color: white;
		}
	}
}
