<body data-spy="scroll" data-target="#aboutPatientSide">
    <div class="container">
        <div class="innerBanner" style="display:none;"><img src="/themes/<%=staticforder%>/images/aboutPatients.jpg" style="width:100%; margin:20px 0 20px 0 ;"></div>
        <div class="row">
            <div class="col-sm-2 visible-lg-block" id="aboutPatientSide">
                <ul class="nav" data-spy="affix">
                    <li class="active"><a href="#aboutP1">就医流程</a></li>
                    <li><a href="#aboutP2">科室分布</a></li>
                    <li><a href="#aboutP3">交通指南</a></li>
                    <li><a href="#aboutP4">体检中心</a></li>
                </ul>         
            </div>
            <div class="col-sm-10"> 
                <div class="aboutPatients">
                    <h3 id="aboutP1" class="titleIntro">就医流程</h3>
                    <div class="patientCell section1">
                        <div class="imgContainer">
                            <img src="/themes/<%=staticforder%>/images/steps.png" style="width:100%;height:80%; margin:auto auto;">
                        </div>
                    </div>
                    <h3 id="aboutP2" class="titleIntro">科室分布</h3>
                    <div class="patientCell section2" style="">
                            <div class="table-responsive tableDiv">
                                <table class="table table-striped table-bordered">
                                    <tbody >
                                        <tr class="s2tr">
                                            <th class="s2th">楼层</th>
                                            <th class="s2th">前楼</th>
                                            <th class="s2th">后楼</th>
                                        </tr>
                                        <tr class="s2tr" >
                                            <td class="s2td">一楼</td>
                                            <td class="s2td">挂号处、收费处、西药房、骨伤科、中医内科、肛肠科、西医内科、外科门诊、针推科、放射科</td>
                                            <td class="s2td">中药房、输液大厅、一病区护士站、一病区病房、血透室、消毒室</td>
                                        </tr>
                                        <tr class="s2tr" >
                                            <td class="s2td">二楼</td>
                                            <td class="s2td">眼科、儿科、心电图室、外科专科、B超室、病理科、化验科、体检中心、糖尿病科</td>
                                            <td class="s2td">内科、二病区护士站、二病区病房</td>
                                        </tr>
                                        <tr class="s2tr" >
                                            <td class="s2td">三楼</td>
                                            <td class="s2td">三病区护士站、外科住院部、三病区病房</td>
                                            <td class="s2td">妇产科、妇产科病房</td>
                                        </tr>
                                        <tr class="s2tr" >
                                            <td class="s2td">四楼</td>
                                            <td class="s2td" colspan="2">胃镜室、医院办公室</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <h3 id="aboutP3" class="titleIntro">交通指南</h3>
                    <div class="patientCell section3">
                        <div id="mapGuide2" style="height:450px;">
                            
                        </div>
                    </div>
                    <h3 id="aboutP4" class="titleIntro">体检中心</h3>
                    <div class="patientCell section4">
                        <table class="table table-striped table-bordered">
                            <tbody >
                                <tr>
                                    <td>套餐一览</td>
                                    <td class="s4td"><span style="font-weight:700;">拥有健康是您的福气，维护健康是您的责任。<br/>健康体检可以让您随时了解自身的健康状况，及时发现亚健康状态建立健康档案。</span></td>
                                    <td class="s4td" style="color:blue;">联系方式：王医生<br/>8029027<br/>13605638833</td>
                                </tr>
                                <tr>
                                    <td class="s4td">套餐1</td>
                                    <td class="s4td" class="miniFont">肝功能(12项)、肾功能(3项)、血脂(4项)、血糖、乙肝表面抗原、<br/>肝胆胰脾双肾前列腺(男)子宫附件(女)彩超、<br/>心电图、数码胸片、内科、外科、眼科、妇检、营养早餐</td>
                                    <td class="s4td">原价：505元<br/><span>优惠价：260元</span><br/><strong class="miniFont">(团队5人以上)</strong></td>
                                </tr>
                                <tr>
                                    <td class="s4td">套餐2</td>
                                    <td class="s4td" class="miniFont">肝功能(12项)、肾功能(3项)、血脂(4项)、血糖、乙肝表面抗原、<br/><span>血常规(18项)、尿常规(10项)、</span>肝胆胰脾双肾前列腺(男)子宫附件(女)彩超、<br/>心电图、数码胸片、内科、外科、眼科、妇检、营养早餐</td>
                                    <td class="s4td">原价：525元 <br/><span>优惠价：280元</span><br/><strong class="miniFont">(团队5人以上)</strong></td>
                                </tr>
                                <tr>
                                    <td class="s4td">套餐3</td>
                                    <td class="s4td" class="miniFont">肝功能(12项)、肾功能(3项)、血脂(4项)、血糖、乙肝表面抗原、<span>血常规(18项)、</span><br/><span>尿常规(10项)、乙肝二对半、</span>肝胆胰脾双肾前列腺(男)子宫附件(女)彩超、<br/>心电图、数码胸片、内科、外科、眼科、妇检、营养早餐</td>
                                    <td class="s4td">原价：550元 <br/><span>优惠价：300元</span><br/><strong class="miniFont">(团队5人以上)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
<!--                     <h3 id="aboutP5" class="titleIntro">联系我们</h3>
                    <div class="patientCell section5">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
function loadJScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://api.map.baidu.com/api?v=2.0&ak=ytfwSaBsiXqhB4ucZINYRmyr&callback=init";
    var script1 = document.createElement("script");
    script1.type = "text/javascript";
    script1.src = "http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js";
    var css1 = document.createElement('link');
    css1.rel = "stylesheet";
    css1.href = "http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css";
    document.body.appendChild(css1);
    document.body.appendChild(script1);
    document.body.appendChild(script)
}
function init() {
    var map = new BMap.Map("mapGuide2",{minZoom:16,maxZoom:18});
    var poi = new BMap.Point(118.551854,30.296638);
    map.addControl(new BMap.MapTypeControl());
    map.centerAndZoom(poi,18);                 
    map.enableScrollWheelZoom(true);
    // var marker = new BMap.Marker(poi);  // 创建标注
    // map.addOverlay(marker);               // 将标注添加到地图中
    // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画

    var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    '地址：旌德县旌阳镇河东路191号<br/>电话：(0563)8022120<br/>简介：旌德县中医医院始建于1980年12月，是一所集医疗、教学、康复、急诊于一体的综合性医院' +
                  '</div>';

    //创建检索信息窗口对象
    var searchInfoWindow = null;
    searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
            title  : "旌德县中医医院",      //标题
            width  : 290,             //宽度
            height : 105,              //高度
            panel  : "panel",         //检索结果面板
            enableAutoPan : true,     //自动平移
            searchTypes   :[
                BMAPLIB_TAB_SEARCH,   //周边检索
                BMAPLIB_TAB_TO_HERE,  //到这里去
                BMAPLIB_TAB_FROM_HERE //从这里出发
            ]
        });
    var marker = new BMap.Marker(poi); //创建marker对象
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    marker.addEventListener("mouseover", function(e){
        marker.setAnimation();
    })
    marker.addEventListener("click", function(e){
        marker.setAnimation();
        searchInfoWindow.open(marker);
    })
    map.addOverlay(marker); //在地图中添加marker
}

var timer = setTimeout(function(){
    loadJScript();
},1000);
</script>
</body>