<link rel="stylesheet" href="/themes/<%=staticforder%>/css/department_nav.css?vesion=<%=siteConfig.version%>">

<div class="department-nav">
	<div class="container">
		<h3>科室一览</h3>

		<div class="row">
			<div class="left col-md-5 col-sm-12">
				<div class="img-wrap">
					<img src="/themes/<%=staticforder%>/images/news3.jpg" alt="">
				</div>
			</div>
			<div class="right col-md-7 col-sm-12">
				<div class="nav-line">
					<ul class="row">
						<li class="col-md-3 col-sm-3 col-xs-3"><a class="nav-btn active" href="">专家门诊<i></i></a></li>
						<li class="col-md-3 col-sm-3 col-xs-3"><a style="background: #55a5aa;" class="nav-btn" href="">临床科室<i style="border-top: 13px solid#55a5aa;"></i></a></li>
						<li class="col-md-3 col-sm-3 col-xs-3"><a style="background: #e5ca8f;" class="nav-btn" href="">医技科室<i style="border-top: 13px solid #e5ca8f;"></i></a></li>
						<li class="col-md-3 col-sm-3 col-xs-3"><a style="background: #01763a;" class="nav-btn" href="">更多科室</a></li>
					</ul>
				</div>
				<div class="department-line">
					<div class="department-group expert active">
						<ul class="row">
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
							<li class="department col-md-3 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
						</ul>
					</div>
					<div class="department-group clinical">
						<ul class="row">
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
							<li class="department col-md-3 col-sm-3">临床科室</li>
						</ul>
					</div>
					<div class="department-group skill">
						<ul class="row">
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
							<li class="department col-md-3 col-sm-3">医技科室</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
