<div class="container">
    <div class="row">
        <div class="col-md-5" style="">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody >
                        <%if(departments.length>0){%> 
                            <%for(var i=0; i<6; i++){%>
                                <tr>
                                    <%for(var j=0; j<4; j++){%>
                                        <%if(departments[j+i*4]){%>
                                            <td><%= departments[j+i*4].department %></td>
                                        <%}else{%>
                                            
                                        <%}%>
                                    <%}%>
                                </tr>
                            <%}%>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="col-md-7" style="">
            <%if(departments.length>0){%> 
                <%departments.forEach(function(item){%>
                    <div class="departmentIntro" style="display:none;">
                        <div class="departmentIntroWrap">
                            <p class="departmentTitle">—— <span><%=item.department%></span> ——</p>
                            <p class="dDescription"><%=item.description%></p>
                        </div>
                        <div class="departmentTitleWrap">
                            <p class="departmentTitle">—— 主要成员 ——</p>                
                            <p class="dMainDoc" style=" text-align:center;">
                                <%=item.mainDoctor%>
                            </p>
                        </div>
                    </div>
                <%})%>
            <%}%>            
        </div>
    </div>
</div>