<div class="container indexExpert">
        <div class="row expListCell">
            <div class="col-sm-12 col-md-12 col-lg-12" style="height:240px; border:solid 1px;">
               <div class="expertCell">
                    <img src="">
                    <div class="introCell">
                        <h3><span style="color:#1B998B; font-weight:bold">专家姓名：</span>张作侠</h3>
                        <h3><span style=" color:#3e92cc;">科室：</span>外科</h3>
                        <h3 ><span style=" color:#E84855;">职称：</span>主任医师</h3>
                        <h3><span style=" color:#ff8c42;">专长：</span>胸外科、泌尿外科、普外科</h3>
                        <p><span style=" color:#1A535C;">专家简介：</span>张作侠主任医师，毕业于芜湖医学专科学校。现任旌德县中医院业务副院长。 曾任宣城地区第二人民医院副院长、大外科主任兼妇产科主任,海螺总医院院长技术顾问兼大外科主任，宣城市中医院副院长，宣城市骨科医院副院长兼外科主任，安徽省心胸外科学会委员，宣城地区医学会理事，外科分会副主任委员。安徽省中医药学会外科专业会常务委员。数十年来一直奋战在临床第一线。</p>
                    </div>
                </div>
            </div>
<!--             <div class="col-sm-12 col-md-6 col-lg-6" style="height:240px; border:solid 1px;">
               <div class="expertCell">
                    <img src="">
                    <div class="introCell">
                        <h3><span style="color:#1B998B; font-weight:bold">专家姓名：</span>张作侠</h3>
                        <h3><span style=" color:#3e92cc;">科室：</span>外科</h3>
                        <h3 ><span style=" color:#E84855;">职称：</span>主任医师</h3>
                        <h3><span style=" color:#ff8c42;">专长：</span>胸外科、泌尿外科、普外科</h3>
                        <p><span style=" color:#1A535C;">专家简介：</span>张作侠主任医师，毕业于芜湖医学专科学校。现任旌德县中医院业务副院长。 曾任宣城地区第二人民医院副院长、大外科主任兼妇产科主任,海螺总医院院长技术顾问兼大外科主任，宣城市中医院副院长，宣城市骨科医院副院长兼外科主任，安徽省心胸外科学会委员，宣城地区医学会理事，外科分会副主任委员。安徽省中医药学会外科专业会常务委员。数十年来一直奋战在临床第一线。</p>
                    </div>
                </div>
            </div> -->
        </div>
    <h2 class="pageIntro" style="margin-top:20px; width:40%;">换一组</h2>
</div>