<!--尾部模板-->
<div class="back-to-top" id="gotop">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>
<div id="footer">
	<div class="wal container">
		<div class="row">
		    <div class="col-sm-6">
		    	<div class="fl">
			      	<ul>
			        	<li>
							<h2><a href="/aboutHospital">医院概况</a></h2>
			             	<dl>			 
				               <dd><a href="/aboutHospital">医院简介</a></dd>
				               <dd><a href="/aboutHospital">医院院训</a></dd>			 
				               <dd><a href="/aboutHospital">医院荣誉</a></dd>			 
				               <dd><a href="/aboutHospital">院长致辞</a></dd>		 
				               <dd><a href="/aboutHospital">组织架构</a></dd>			 			 
			             	</dl>
			        	</li>
			        	<li>
							<h2><a href="/picNews___VkhdrsWpl">新闻中心</a></h2>
			             	<dl>		 
				               <dd><a href="/topics___EJeiHjWal">首页焦点</a></dd>			 
				               <dd><a href="/picNews___VkhdrsWpl">图片新闻</a></dd>			 
				               <dd><a href="/noticeNews___NyTJLoWax">通知公告</a></dd>
				               <dd><a href="">专家任职</a></dd>			 
			             	</dl>
			        	</li>
			        	<li>
							<h2><a href="/aboutPatients">患者服务</a></h2>
			             	<dl>
							   <dd><a href="/aboutPatients">就诊指南</a></dd>			 
				               <dd><a href="/aboutPatients#aboutP2">科室分布</a></dd>			 
				               <dd><a href="/aboutPatients#aboutP3">交通指南</a></dd>
				               <dd><a href="/aboutPatients#aboutP4">体检中心</a></dd>
				               <dd><a href="">联系我们</a></dd>
			             	</dl>
			        	</li>
			        	<li>
							<h2><a href="/aboutDoctors">医资力量</a></h2>
			             	<dl>
							   <dd><a href="/aboutDepartments">科室一览</a></dd>			 
				               <dd><a href="/aboutDoctors">医护团队</a></dd>		 
				               <dd><a href="">技术设备</a></dd>			 
				               <dd><a href="">重点科室</a></dd>
			             	</dl>
			        	</li>
			        	<li>
							<h2><a href="">其他专题</a></h2>
			             	<dl>
							   <dd><a href="/publicWorks___4ySTBsZTl">党建工作</a></dd>			 
				               <dd><a href="/nursingArea___41AQLoZ6e">护理园地</a></dd>		 
				               <dd><a href="">报销指南</a></dd>			 
				               <dd><a href="">院务公开</a></dd>
			             	</dl>
			        	</li>
			       	</ul>
		       	</div>
		<!-- 		<ul class="newblock"><li> <h2><a href="/html/yzxx.html">院长信箱</a></h2></li><li> <h2><a href="/html/ysaq.html">隐私安全</a></h2></li><li> <h2><a href="/html/bqsm.html">版权声明</a></h2></li><li> <h2><a href="/html/help.html">帮助信息</a></h2></li></ul> -->
		    </div>
		 	<div class="col-sm-6">
				<div class="fr">
					<p>ICP备案信息：皖ICP备13015772号</p>
					<p>医院地址：旌德县河东路191号</p>
					<p>邮编：242600</p>
					<p>医院总机：88326666</p>
					<p>COPY RIGHT © 旌德县中医院 2016</p>
					<p>友情感谢：DoraCMS开源CMS系统</p>
					<p>网站建设：旌德县中医院信息科</p>
				</div>
			</div>
		</div>
	</div>
</div>