<!--尾部模板-->
<div class="back-to-top" id="gotop">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>

<div id="footer">
    <div class="link">
    	<div class="container cf">
    		<span class="fl">友情链接：</span>
    		<div class="a">
		    	<a href="http://www.nhfpc.gov.cn/" target="_blank">安徽省卫生和计划生育委员会</a>
		    	<a href="http://www.bjchfp.gov.cn/" target="_blank">宣城市卫生和计划生育委员会</a>
		    	<a href="http://www.bjchfp.gov.cn/" target="_blank">旌德县卫生和计划生育委员会</a>
		    	<a href="http://www.cams.ac.cn/" target="_blank">宣城市人民医院</a>
		    	<a href="http://www.pumf.org/" target="_blank">旌德县政府</a>
		    	<a class="last" href="http://www.puem.org/" target="_blank">旌德社区</a>
    		</div>
		</div>
	</div>    
	<div class="copyright">
		<div class="container cf">
    		<div class="left">
        		<div class="siteMap">
                    <a href="/sitemap.html">网站地图</a>
                    <a href="/research/gudie.html">关于我们</a>
                </div>
        		<p class="cf address">
        			<span>地　　址：</span>
        			<span class="div">
        				<b>旌德县旌阳镇城东北路后妃岭</b>
        			</span>
        		</p>
        		<p>服务热线： 0563-80</p>
    		</div>
    		<div class="right">
        		<p>Copyright 2018 旌德县人民医院 All Rights Reserved.             
        		<br> 皖ICP备09022350号 皖公网安备 34182502000016号
        		</p>
        		<p>
        			<a href="http://www.fractal-technology.com" target="_blank">网站建设</a>：
        			<a href="http://www.fractal-technology.com" target="_blank">旌德县人民医院信息科</a></p>
   	 		</div>
		</div>
	</div>
</div>

