<link href="/themes/<%=staticforder%>/css/guides.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
<div class="guides-wrap">
	<div class="container">
		<h5 class="position">您现在的位置：<a href>首页</a> > <a href="">文章中心</a> > <a href="">医院动态</a></h5>

		<h2 class="page-intro t-center">
		    就医指南
		</h2>

		<div class="guide-nav-wrap row">
			<ul class="row">
				<li class="col-md-2 col-sm-2 col-xs-6">
					<a class="single-guide active" href="#">就医须知</a>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-6">
					<a class="single-guide" href="#">医保指南</a>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-6">
					<a class="single-guide" href="#">医院位置</a>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-6">
					<a class="single-guide" href="#">院内导航</a>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-6">
					<a class="single-guide" href="#">价格公示</a>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-6">
					<a class="single-guide" href="#">感谢信</a>
				</li>
			</ul>
		</div>
	</div>
</div>
