<div class="header-wrap">
	<div class="top-nav">
		<div class="container text-r">
			<a class="top-nav-a active" href="">患者版</a>
			<a class="top-nav-a" href="">OA入口</a>
		</div>
	</div>

	<div class="main-nav navbar-static-top navigation_bar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
				data-target=".header-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img class="hospital-logo" src="/themes/<%=staticforder%>/images/logo.png" alt="">
				</a>
			</div>
			<div class="collapse navbar-collapse header-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="first-nav">
						<a href="/aboutHospital">医院概况</a>
					</li>

					<li class="first-nav dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							特色医疗
						</a>
						<div class="dropdown-menu">
							<div>
								<a href="/picNews___VkhdrsWpl">国医堂</a>
							</div>
							<div>
								<a href="/noticeNews___NyTJLoWax">体检中心</a>
							</div>
						</div>
					</li>

					<li class="first-nav">
						<a href="/expertIntro___4y80KqHTg">医生介绍</a>
					</li>

					<li class="first-nav">
						<a href="/aboutPatients">科室导航</a>
					</li>

					<li class="first-nav dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							就医指南
						</a>
						<div class="dropdown-menu">
							<div>
								<a href="/visitinfo.html">门诊出诊表</a>
							</div>
							<div>
								<a href="/regulations.html">规章制度</a>
							</div>
							<div>
								<a href="/medical_notice.html">就医须知</a>
							</div>
							<div>
								<a href="/medical_guide.html">医保指南</a>
							</div>
							<div>
								<a href="/nosocomial.html">医院位置</a>
							</div>
							<div>
								<a href="/azimuth.html">院内导航</a>
							</div>
							<div>
								<a href="/community.html">社区转诊</a>
							</div>
							<div>
								<a href="/price_publicity.html">价格公示</a>
							</div>
							<div>
								<a href="/query_service.html">查询服务</a>
							</div>
							<div>
								<a href="/letter_thanks.html">感谢信</a>
							</div>
							<div>
								<a href="/patientQA.html">患者问答</a>
							</div>
							<div>
								<a href="/reportquery.html">报告查询</a>
							</div>
						</div>
					</li>

					<li class="first-nav">
						<a href="/aboutDepartments">医院公告</a>
					</li>
					
					<li class="first-nav dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							新闻中心
						</a>
						<div class="dropdown-menu">
							<div>
								<a href="/bignews.html">重大新闻</a>
							</div>
							<div>
								<a href="/tends.html">医院动态</a>
							</div>
							<div>
								<a href="/fronts.html">医学前沿</a>
							</div>
							<div>
								<a href="/medias.html">媒体聚焦</a>
							</div>
							<div>
								<a href="/humanities.html">人文关怀</a>
							</div>
							<div>
								<a href="/newspapers.html">协和院报</a>
							</div>
							<div>
								<a href="/videos.html">视频新闻</a>
							</div>
						</div>
					</li>

					<li class="first-nav">
						<a href="/publicWorks___4ycX9qHTl">健康科普</a>
					</li>

					<li class="first-nav">
						<a href="/publicWorks___4ycX9qHTl">党建工作</a>
					</li>
				</ul>
			</div>
		</div>
	</div>    
</div>


