<div class="header-wrap">
	<div class="top-nav">
		<div class="container text-r">
			<a class="top-nav-a active" href="">患者版</a>
			<a class="top-nav-a" href="">OA入口</a>
		</div>
	</div>

	<div class="main-nav navbar-static-top navigation_bar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
				data-target=".header-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img class="hospital-logo" src="/themes/<%=staticforder%>/images/logo.png" alt="">
				</a>
			</div>
			<div class="collapse navbar-collapse header-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="first-nav">
						<a href="/aboutHospital">医院概况</a>
					</li>

					<li class="first-nav dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							特色医疗
						</a>
						<ul class="dropdown-menu">
							<li>
								<!-- <a href="/chinesemedic">国医堂</a> -->
								<a target="_blank" href="https://mp.weixin.qq.com/s/P-WhEpyNjxl-IgTtH7OZaw">国医堂</a>
							</li>
							<li>
								<!-- <a href="/healthcenter">体检中心</a> -->
								<a target="_blank" href="https://mp.weixin.qq.com/s/0NlZmAhmFauHN01O-98fzw">体检中心</a>
								
							</li>
						</ul>
					</li>

					<li class="first-nav">
						<a href="/doctors">医生介绍</a>
					</li>

					<li class="first-nav">
						<a href="/departments">科室导航</a>
					</li>

					<li class="first-nav dropdown">
						<a href="/guides#tips" class="dropdown-toggle" data-toggle="dropdown">
							就医指南
						</a>
						<ul class="dropdown-menu">
							<!-- <li>
								<a href="/visitinfo.html">门诊出诊表</a>
							</li> -->
							<!-- <li>
								<a href="/regulations.html">规章制度</a>
							</li> -->
							<li>
								<a href="/guides#tips">就医须知</a>
							</li>
							<li>
								<a href="/guides#insurance">医保指南</a>
							</li>
							<li>
								<a href="/guides#position">医院位置</a>
							</li>
							<li>
								<a href="/guides#inside">院内导航</a>
							</li>
							<!-- <li>
								<a href="/guides#">社区转诊</a>
							</li> -->
							<li>
								<a href="/guides#price">价格公示</a>
							</li>
							<!-- <li>
								<a href="/guides#.html">查询服务</a>
							</li> -->
							<!-- <li>
								<a href="/guides#.html">感谢信</a>
							</li> -->
							<li>
								<a href="/guides#thanks">感谢信</a>
							</li>
						</ul>
					</li>

					<li class="first-nav">
						<a href="/contentList/notices">医院公告</a>
					</li>
					
					<li class="first-nav dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							新闻中心
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/contentList/brandNews">重大新闻</a>
							</li>
							<li>
								<a href="/contentList/hospitalNews">医院动态</a>
							</li>
							<li>
								<a href="/contentList/hospitalWorks">院务公开</a>
							</li>
							<li>
								<a href="/contentList/nursingArea">护理园地</a>
							</li>
							<li>
								<a href="/contentList/hospitalCulture">医院文化</a>
							</li>
							<li>
								<a href="/contentList/videoNews">视频新闻</a>
							</li>
						</ul>
					</li>

					<li class="first-nav">
						<a href="/contentList/healthTips">健康科普</a>
					</li>

					<li class="first-nav">
						<a href="/contentList/publicWorks">党建工作</a>
					</li>
				</ul>
			</div>
		</div>
	</div>    
</div>


