<div>
	<div class="navbar-fixed-top navbar-inverse navigation_bar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
				data-target=".header-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">首页1</a>
			</div>
			<div class="collapse navbar-collapse header-navbar-collapse">
				<ul class="nav navbar-nav navUl" style="margin-left:0;">
					<li class="first-nav"><a href="/aboutHospital">医院概况</a></li>
					<li class="first-nav"><a href="/newsCenter">新闻中心</a></li>
					<li class="first-nav dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" style="background-color:#5587d6;">
							<li><a href="/picNews___VkhdrsWpl">图片新闻</a></li>
							<li><a href="/noticeNews___NyTJLoWax">通知公告</a></li>
							<li><a href="/hospitalCulture___NJuucqS6x">医院文化</a></li>
							<li><a href="/hospitalWorks___Ny2q5crTl">院务公开</a></li>
						</ul>
					</li>
					<li class="first-nav"><a href="/expertIntro___4y80KqHTg">专家介绍</a></li>
					<li class="first-nav"><a href="/aboutPatients">患者服务</a></li>
					<li class="first-nav"><a href="/aboutDoctors">医护团队</a></li>
					<li class="first-nav"><a href="/aboutDepartments">科室一览</a></li>
					<li class="first-nav"><a href="/nursingArea___41wLq5HTx">护理园地</a></li>
					<li class="first-nav"><a href="/publicWorks___4ycX9qHTl">党建工作</a></li>
				</ul>
			</div>
		</div>
	</div>    
</div>