<div class="patientTotal">
    <div class="patientCell section1">
        <div class="imgContainer">
            <img src="/themes/<%=staticforder%>/images/steps.png" style="width:auto;height:80%; margin:auto auto;">
        </div>
    </div>
    <div class="patientCell section2" style="">
            <div class="table-responsive tableDiv">
                <table class="table table-striped table-bordered">
                    <tbody >
                        <tr class="s2tr">
                            <th class="s2th">楼层</th>
                            <th class="s2th">前楼</th>
                            <th class="s2th">后楼</th>
                        </tr>
                        <tr class="s2tr" >
                            <td class="s2td">一楼</td>
                            <td class="s2td">挂号处、收费处、西药房、骨伤科、中医内科、肛肠科、西医内科、外科门诊、针推科、放射科</td>
                            <td class="s2td">中药房、输液大厅、一病区护士站、一病区病房、血透室、消毒室</td>
                        </tr>
                        <tr class="s2tr" >
                            <td class="s2td">二楼</td>
                            <td class="s2td">眼科、儿科、心电图室、外科专科、B超室、病理科、化验科、体检中心、糖尿病科</td>
                            <td class="s2td">内科、二病区护士站、二病区病房</td>
                        </tr>
                        <tr class="s2tr" >
                            <td class="s2td">三楼</td>
                            <td class="s2td">三病区护士站、外科住院部、三病区病房</td>
                            <td class="s2td">妇产科、妇产科病房</td>
                        </tr>
                        <tr class="s2tr" >
                            <td class="s2td">四楼</td>
                            <td class="s2td" colspan="2">胃镜室、医院办公室</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="patientCell section3">
        <div id="mapGuide">
            
        </div>
    </div>
    <div class="patientCell section4">
        <div class="table-responsive tableDiv">
            <table class="table table-striped table-bordered">
                <tbody >
                    <tr>
                        <td class="s4td"><span>套餐一览</span></td>
                        <td class="s4td"><span style="font-weight:700;">拥有健康是您的福气，维护健康是您的责任。<br/>健康体检可以让您随时了解自身的健康状况，及时发现亚健康状态建立健康档案。</span></td>
                        <td class="s4td" style="color:blue;">联系方式：王医生<br/>8029027<br/>13605638833</td>
                    </tr>
                    <tr>
                        <td class="s4td">套餐1</td>
                        <td class="s4td" class="miniFont">肝功能(12项)、肾功能(3项)、血脂(4项)、血糖、乙肝表面抗原、<br/>肝胆胰脾双肾前列腺(男)子宫附件(女)彩超、<br/>心电图、数码胸片、内科、外科、眼科、妇检、营养早餐</td>
                        <td class="s4td">原价：505元<br/><span>优惠价：260元</span><br/><strong class="miniFont">(团队5人以上)</strong></td>
                    </tr>
                    <tr>
                        <td class="s4td">套餐2</td>
                        <td class="s4td" class="miniFont">肝功能(12项)、肾功能(3项)、血脂(4项)、血糖、乙肝表面抗原、<br/><span>血常规(18项)、尿常规(10项)、</span>肝胆胰脾双肾前列腺(男)子宫附件(女)彩超、<br/>心电图、数码胸片、内科、外科、眼科、妇检、营养早餐</td>
                        <td class="s4td">原价：525元 <br/><span>优惠价：280元</span><br/><strong class="miniFont">(团队5人以上)</strong></td>
                    </tr>
                    <tr>
                        <td class="s4td">套餐3</td>
                        <td class="s4td" class="miniFont">肝功能(12项)、肾功能(3项)、血脂(4项)、血糖、乙肝表面抗原、<span>血常规(18项)、</span><br/><span>尿常规(10项)、乙肝二对半、</span>肝胆胰脾双肾前列腺(男)子宫附件(女)彩超、<br/>心电图、数码胸片、内科、外科、眼科、妇检、营养早餐</td>
                        <td class="s4td">原价：550元 <br/><span>优惠价：300元</span><br/><strong class="miniFont">(团队5人以上)</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ytfwSaBsiXqhB4ucZINYRmyr"></script>